

.container {
    display: flex;
    margin-bottom: 32px;

    & .form {
        display: flex;
        flex-direction: column;
        width: 100%;
       & .inputs {
        display: flex;
        flex-wrap: wrap;


        & .textField {
         flex-grow: 1;
         margin-right: 10px;
         } 

       }
       & .inputs div {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
         }
    }
    
}
